@using CommentAndReply.Dto
@model List<CommentDetailDto>
@{
    ViewData["Title"] = "Comments Page";
}
<head>
    <link rel="stylesheet"  href="~/css/Home/Comments.css"/>
</head>

<article>
    <form>
        <div>
            <table class="comment-table">
                <tr class="header-table">
                    <th></th>
                    <th>نام کاربر</th>
                    <th>شماره کاربر</th>
                    <th>کامنت کاربر</th>
                    <th>تاریخ کامنت</th>
                    <th>تعداد ریپلای</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="content-table">
                        <th><a asp-action="CommentReply" asp-route-Id="@item.Id" asp-controller="Home">.....</a></th>
                        <th>@item.Name</th>
                        <th>@item.PhoneNumber</th>
                        <th>@item.CommentText</th>
                        <th>@item.CommentDate</th>
                        <th>@item.CountReply</th>
                    </tr>
                }
            </table>
        </div>
    </form>
</article>